main .main {
  max-width: 70%;
  justify-content: flex-start;
}

ol {
  line-height: 1.5;
  background-color: var(--highlight);
  padding: 5px 4vh 5px 25px;
  width: 100%;
  list-style: decimal;
}



button {
  height: 20px;
  margin-right: 5px;
}


.hide {
  display: none;
}