/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html * {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-color: #ffffff;

    --black-txt: #000000;
    --white-txt: #ffffff;

    --primary: #351c75;
    --secondary: #bd60e7;

    --highlight: #d9d3e9;
    --sub: #7b7b7c;
}

div.hide {
    display: none;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

header {
    visibility:hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: var(--bg-color);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 60px;
}


main {
    display: flex;
    justify-content: space-around;
}

main .main {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main > * {
    margin-top: 20px;
}

.main h1 {
    font-size: 30px;
    font-weight: 600;
}

.main button {
    color: var(--white-txt);
    background-color: var(--primary);
    border: 0px;
    border-radius: 5px;
}

.main button:hover {
    background-color: var(--secondary);
    cursor: pointer;
}